<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pagos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>


 <div class="container">
 <div align="center">
  <h2>Porfavor seleccione el modo como usted va a pagar su polera favorita</h2>
  <form action="/action_page.php">
    <div class="form-group">
      <label for="sel1">Como va a retirar su producto:</label>
      <select class="form-control" id="sel1" name="sellist1">
        <option>WebPay/via online/</option>
        <option>Retiro en tienda/Presencial</option>
      </select>

<br>

<div class="container">
<a href="webpay" class="btn btn-info" role="button">Confirmar</a>
<a href="retirotienda" class="btn btn-warning" role="button">En caso de que retires en tienda</a>
</div>


</body>
</html>