<!DOCTYPE html>
<html lang="en">
<head>
<title>Poleras para entrenar</title>
<style>
h1 {
  color: black;
  font-family: arial;
  font-size: 300%;
  text-align: center;
}

h2 {
  font-weight: bold;
  color:cadetblue;
}


p {
  color: seagreen;
  font-weight: bold;
  font-size: 30px;
} 

mark {
	font-size: 30px;
}
</style>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>






<div class="container">
<div align="center">

  <h1>Poleras de equipos</h1>   

<div class="row">
<div class="col-sm-4">
<div style="text-align: left">
  <img src="https://contents.mediadecathlon.com/p1603739/k$6699298c0851681941a59fe9da674197/sudadera-de-entrenamiento-de-futbol-t500-mujer-negra.jpg?&f=452x452"class="img-rounded"  width="200" height="200">
  <h2>Polera manga larga de entrenamiento</h2>
  <p>Precio : <mark> $20000 </mark></p>
  <a href="pago" class="btn btn-success"  role="button">Comprar</a>
</div>
</div>

    
<div class="row">
<div class="col-sm-4">
    <div style="text-align: right">
      <img src="https://home.ripley.cl/store/Attachment/WOP/D315/2000354989288/2000354989288_2.jpg"class="img-rounded" width="200" height="200">
  <h2>Polera entrenamiento colo-colo</h2>
  <p>Precio : <mark> $26990 </mark></p>
   <a href="pago" class="btn btn-success"  role="button">Comprar</a>
</div>
</div>

    
<div class="row">
<div class="col-sm-4">
    <div style="text-align: right">
    <img src="https://http2.mlstatic.com/D_NQ_NP_721103-MLC46399317103_062021-O.jpg"class="img-rounded"  width="200" height="200">
  <h2>Polera entrenamiento adidas</h2>
  <p>Precio : <mark> $10000 OFERTON!</mark></p>
  <a href="pago" class="btn btn-success"  role="button">Comprar</a>
</div>
</div>
	</div>
	</div>
	</div>
	
	
	
	
 <div class="row">
<div class="col-sm-4">
    <div style="text-align: left">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKNVGjNrKbF5ZgUXK9KyipWP8rSGyyISxEdQ&usqp=CAU"class="img-rounded"  width="200" height="200">
  <h2>Polera entrenamiento U de chile</h2>
  <p>Precio : <mark> $25000 descuento 15% </mark></p>
  <p>Precio original <mark>$50000</mark></p>
  <a href="pago" class="btn btn-success"  role="button">Comprar</a>
    </div>
	</div>
    
<div class="row">
<div class="col-sm-4">
    <div style="text-align: right">
    <img src="https://assets.mercadoempresas.cl/wmgq8cpkjemqlmns9ngk4667ahp3"class="img-rounded"  width="200" height="200">
  <h2>Poleron entrenamiento New balance Team chile</h2>
  <p>Precio : <mark> $29990 </mark></p>
  <a href="pago" class="btn btn-success"  role="button">Comprar</a>
    </div>
	</div>
    
 <div class="row">
<div class="col-sm-4">
    <div style="text-align: right">
    <img src="https://www.combazo.cl/wp-content/uploads/2021/05/polera-entrenamiento-kelme-morada.jpg"class="img-rounded"  width="200" height="200">
  <h2>Polera entrenamiento Kelme morada Deportes concepcion</h2>
  <p>Precio : <mark> $55000</mark></p>
  <a href="pago" class="btn btn-success"  role="button">Comprar</a>
    </div>
	</div>
	
</div>
</div>
</div>

    <br>
    <br>
    
    <div class="center">
	<a href="ejemplos" class="btn btn-primary btn-block" role="button">Volver a la pagina principal</a>
	
</div>
</div>
</div>

</body>
</html>