<!DOCTYPE html>
<html lang="en">
<head>
  <title>Retiro tienda</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-3">
<div align = "center">
  <h3>Clickea el boton para saber mas informacion con respecto al retiro</h3>
  <br>
  
  <a href="ejemplos" class="btn btn-success" role="button">Volver a la pagina principal</a> 
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Ver Ubicacion
  </button>
 
</div>



<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      
      <div class="modal-header">
        <h4 class="modal-title">Ubicacion</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      
      <div class="modal-body">
        Por ahora no tenemos una tienda fija en temuco, pero puedes comprar nuestras poleras en falabella
        <br>
        <mark>Ubicacion: Arturo Prat 570, Temuco, Araucanía</mark>
        <br>
        <mark>Referencia: Plaza de armas,Iglesia</mark>
      </div>

      
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="container">
  <h1>Testimonios</h1>
  <p>Tenemos muchas opiniones y buena valoracion hacia nuestra tienda, aqui unos ejemplos.</p>
  <p>Recuerde estar atento a informacion nueva en esta pagina, puede que le traigamos unos descuentos increibles.</p>
  <br>
  
  <div class="media">
    <div class="media-left">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTi4yUCmHuc9yq-csizF12gTKSCPpbwZQNcCA&usqp=CAU" class="media-object" style="width:60px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Matias Duran</h4>
      <p>Si bien la interfaz de la pagina no es la mejor, cumple su objetivo y de una manera muy precisa</p>
    </div>
  </div>
  <hr>
  
  
  <div class="media">
    <div class="media-right">
      <h4 class="media-heading">Carla villagran</h4>
      <p>Ultimamente esta pagina me ha sacado de apuros, es simple, no tiene tanto decorado, pero puedo comprar sin ningun problema aqui</p>
    </div>
    <div class="media-right">
      <img src="https://www.soycarmin.com/__export/1591241280785/sites/debate/img/2020/06/03/avatar_3_crop1591241236156.jpg_1902800913.jpg" class="media-object" style="width:60px"
    </div>
    <hr>
    
    
    </div>
    </div>
  </div>
  </div>
</div>

</body>
</html>