<!DOCTYPE html>
<html lang="en">
<head>
  <title>Modo de pago: WebPay</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container mt-3">
<div align = "center">
  <h2>Metodo de pago/webpay</h2>
  <p>Porfavor, selecciona el banco a cual quieres pagar tu polera favorita</p>
  <form action="/action_page.php">
    <select name="cars" class="custom-select mb-3">
      <option selected>Visa classic</option>
      <option value="Banco Estado">Banco Estado</option>
      <option value="Banco de Chile">Banco de Chile</option>
      <option value="Banco Santander">Banco Santander</option>
      <option value="Banco Falabella">Banco Falabella</option>
      <option value="Coopeuch">Coopeuch</option>
      <option value="BICE">BICE</option>
    </select>
    <a href="comprar" class="btn btn-danger" role="button">Pagar</a> 
    
  </form>
</div>
</div>

</body>
</html>